<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".zif" mimeType="image/zif" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".hrc" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <rewrite>
            <rules>
               <rule name="Force Https" enabled="true" stopProcessing="true">
				   <match url="status.htm" negate="true" />
				   <conditions>
					   <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" negate="true" />
				   </conditions>
				   <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
